@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400);

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font: 400 .9em 'Montserrat', sans-serif;
}

#chat-header {
    position: fixed;
    height: 7em;
    z-index: 99;
    top: 0;
    width: 100%;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    text-align: center;
    background: #fff;
    color: black;
}

#chatgpt-title {
    display: flex;
    align-items: center;
    height: 100%;
}

#title-container {
    padding: 1em;
}

#title-txt {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}
#title-status-txt {
    margin: 0;
    font-size: 14px;
    color: green;
    text-align: left;
}

#icon-container {
    width: 60px;
    height: 60px;
    position: relative;
    margin-right: 1em;
    margin-left: 1em;
}

#icon-txt {
    display: inline-block;
}

#icon-img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: inline-block;
}

#icon-github {
    float: right;
    margin-right: 2em;
    display: flex;
    margin-top: -2em;
}

#icon-status-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
  border: 2px solid white;
  bottom: 0;
  right: 0;
  position: absolute;
}


/* CHAT MESSAGES CONTAINER*/
#chat-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: stretch;
    flex-direction: column;
    overflow-x: auto;
    border: none;
    background: #f2f2f7;
    padding-top: 2em;
    margin-bottom: 7em;
    margin-top: 7em;
}

#info-conversation {
    background-color: lightyellow;
    text-align: center;
    margin-bottom: 20px;
}

.msg {
    padding: 20px;
    max-width: 50%;
    margin-bottom: 20px;
}

.msg-user {
    position: relative;
    align-self: flex-end;
    background-color: #007bff;
    text-align: left;
    color: #fff;
    border: none;
    border-radius: 20px 0 20px 20px;
    margin-right: 2em;
    box-shadow: 0 8px 8px -4px lightblue;
}

.msg-user-error {
    position: relative;
    align-self: flex-end;
    margin-right: 2em;
    margin-top: -1em;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg-user-error>p {
    margin-left: 0.2em;;
}

.msg-chatgpt {
    position: relative;
    background-color: #fff;
    text-align: left;
    border: none;
    border-radius: 0 20px 20px 20px;
    margin-left: 2em;
    box-shadow: 0 8px 8px -4px lightblue;
}

.msg-time {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1em;
    color: lightgrey;
}

/* CHAT FOOTER // INPUT USER*/

#chat-input {
    position: fixed;
    background-color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    /* Center vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-user {
    font-size: 20px;
    background: #f2f2f7;
    box-sizing: border-box;
    display: inline-block;
    height: 50px;
    width: 100%;
    border: none;
    padding: 0 25px;
    outline: none;
    border-radius: 25px;
    margin: 1em;
}

#submit-btn {
    display: inline-block;
    width: 60px;
    height: 50px;
    background: #007bff;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
}

#talk-btn {
    display: inline-block;
    border: none;
    width: 50px;
    cursor: pointer;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: #fff;
}

#submit-btn:hover {
    background: #0a84ff;
}
